<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Net.FtpClient" version="1.0.5281.14359" targetFramework="net461" />
  <package id="System.Net.FtpClient.Async" version="1.0.3.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
</packages>